button {
	background-color: rgb(212,212,212);
	height: 56px;
	width: 93px;
	font-size: 25px;
	margin: 5 1;
	border-radius: 10;
	font-weight: 600;
	box-shadow: 0px -4px 4px #666 inset;
}
#display {
	padding-top:10;
	padding-right:10;
	background:rgb(240,250,202);
	height: 86;
	width: 383;
	margin:3;
	border-radius: 10;
	margin-bottom: 22;
	border: 2 inset;
	box-shadow: 0px 4px 4px #666 inset;
	text-align: right;
}
#calc {
	background: linear-gradient(rgb(235,235,235),rgb(178,178,178));
	width: 405;
	padding: 9 20 19 20;
	font-family: helvetica, sans-serif;
	font-size: 25px;
	font-weight:600;
}

#zerob {
	width:195px;
}
#equalb{
	height:122px;
	float:right;
	padding-top: 77;
	margin-right:4;
}
button:hover{
	background-color: white;
}
button:active{
	background-color:black;
	color:white;
}
;
	